body {
  background: black;
  color: #00ff00;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: "Courier New", monospace;
  display: flex;
  flex-direction: column;
}

#editor {
  flex: 1;
  padding: 20px;
  white-space: pre;
  overflow-y: auto;
  outline: none;
}

::selection {
  background-color: #00ff00;
  color: black;
}
